.contact-container {
    min-height: 760px;
    background-color: #1f4363;
    padding-top: 75px;
    color: #f0fbf9;
}

.contact-form {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    margin: auto;
    display: flex;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #179ec8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1f4363;
}

h2 {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    font-size: 2em;
    color: #f0fbf9;
    z-index: 10;
}

.contact-img {
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.socials {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.contact-container a {
    padding: 1rem;
    text-decoration: none;
    color: #f0fbf9;
}